%form.filter{ :action => countries_path, :method => 'POST' }
  %input.countries__name{ :name => :name, :type => :text, :placeholder => 'Nmae' }
  %input.countries__name{ :name => :image, :type => :text, :placeholder => 'URL' }
  %button{ :type => :submit } Ok