.btn {
  border: none;
  height: 40px;
  padding: 0 30px;
  color: $btn-color;
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: $btn-back;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

  &:hover {
    background: $btn-back-hover;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
  }

  &.btn__full {
    width: 100%;
  }

}