$dashbord-border-color: #ddd;
$dashbord-back: #f1f1f1;
$dashbord-active: #3aa9e0;
$dashbord-inner-back: #fff;

/*---------- btn ----------*/
$btn-back: #d40000;
$btn-back-hover: #d40000;
$btn-back-active: #d40000;
$btn-color: #fff;
$btn-color-active: #fff;
/*---------- /btn ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: #ddd;
/*---------- /popup ---------*/

$err-fields: #f00;